@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}